{% extends 'app/base.html'%}

{% block title%}  {% endblock %}
{% load mptt_tags %}

{% block content %}
    <form action="{% url 'app:employees' %}" method="GET">
        <label>Сортировать по:</label>
        <select name="sort">
          <option value="full_name">ФИО</option>
          <option value="position">Должности</option>
          <option value="employment">Дате трудоустройства</option>
          <option value="salary">Зарплате</option>
        </select>
        <input type="submit">
    </form>
    <div>
        <ul>
            {% for node in employees %}
                <li>
                    {{node.full_name}}
                    <ul>
                        <li>{{node.employment}}</li>
                        <li>{{node.position__name}}</li>
                        <li>{{node.salary}}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}